<div class="wraper">
    <div class="container">
      <div class="textContent">
        <h3>Do you have any questions?</h3>
        <p class="bodyRegular">Let us help you!</p>
      </div>

      <div class="emailForm formContainer">
        <div class="clientEmail">
          <img src="./resources/newsletter/icon/mail.svg" alt="" />
          <input
            type="email"
            name="clientEmail"
            id="inputEmail"
            placeholder="Enter your email"
            class="headlineRegular"
          />
        </div>
        <div class="button">
          <a href="#" class="headlineRegular">
            <p class="headlineRegular">Subscribe</p>
          </a>
        </div>
      </div>
    </div>
  </div>