<div class="wraper">
  <div class="container">
    <div class="textContent">
      <h3>Do you have any questions?</h3>
      <p class="bodyRegular">Let us help you!</p>
    </div>

    <div >
      <form action="" class="emailForm formContainer">
        <div class="clientEmail">
          <img
            src="./resources/newsletter/icon/mail.svg"
            alt=""
            srcset="../resources/newsletter/icon/mail.svg"
          />
          <input
            type="email"
            name="clientEmail"
            id="inputEmail"
            placeholder="Enter your email"
            class="headlineRegular"
          />
        </div>
        <button class="button" id="CTAButton">
          <a href="#" class="headlineRegular">
            <p class="headlineRegular">Subscribe</p>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
