<div class="wraper">
    <div class="companyInfo">
      <img src="./resources/logos/circle.svg" alt="" />
      <div class="textContent headlineRegular">
        2972 Westheimer Rd. Santa Ana, Illinois 85486
      </div>
    </div>
    <div class="footerLinks container">
      <ul class="headlineMedium container footerHref">
        <li><a href="#">Team</a></li>
        <li><a href="#">Press</a></li>
      </ul>
      <ul class="headlineMedium container footerHref">
        <li><a href="#services">Services</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
      <ul class="headlineMedium container last_href">
        <li><a href="#">About us</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>