<div class="wraper">
    <h3>Recent Projects</h3>
    <div class="container">
      <div id="projectCard1" class="cards">
        <img src="" alt="" class="projectImg" id="projectCard1_img" />
        <div class="textInfo">
          <div id="projectCard1_title" class="bodyMedium"></div>
          <p id="projectCard1_description" class="headlineRegular"></p>
          <a href="#" class="headlineRegular">Learn more</a>
        </div>
      </div>

      <div id="projectCard2" class="cards">
        <img src="" alt="" class="projectImg" id="projectCard2_img" />
        <div class="textInfo">
          <div id="projectCard2_title" class="bodyMedium"></div>
          <p id="projectCard2_description" class="headlineRegular"></p>

          <a href="#" class="headlineRegular">Learn more</a>
        </div>
      </div>
      <div id="projectCard3" class="cards">
        <img src="" alt="" class="projectImg" id="projectCard3_img" />
        <div class="textInfo">
          <div id="projectCard3_title" class="bodyMedium"></div>
          <p id="projectCard3_description" class="headlineRegular"></p>
          <a href="#" class="headlineRegular">Learn more</a>
        </div>
      </div>
    </div>
  </div>