.cards {
  background-color: white;
  box-shadow: 0 6px 20px 0 var(--lightGrey), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  width: 340px;
  height: 444px;

  @media (min-width: 1470px) {
    width: calc(340px * var(--percentage-fourk));
    height: calc(444px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(340px * var(--percentage-laptop));
    height: calc(444px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(340px * var(--percentage-tablet));
    height: calc(444px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(340px * var(--percentage-large-mobile));
    height: calc(444px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(340px * var(--percentage-medium-mobile));
    height: calc(444px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(340px * var(--percentage-small-mobile));
    height: calc(444px * var(--percentage-small-mobile));
  }
}

.services div div .cards {
  width: 340px;
  height: 380px;

  @media (min-width: 1470px) {
    width: calc(340px * var(--percentage-fourk));
    height: calc(380px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(340px * var(--percentage-laptop));
    height: calc(380px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(340px * var(--percentage-tablet));
    height: calc(380px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(340px * var(--percentage-large-mobile));
    height: calc(380px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(340px * var(--percentage-medium-mobile));
    height: calc(380px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(340px * var(--percentage-small-mobile));
    height: calc(380px * var(--percentage-small-mobile));
  }
}

.projectImg {
  width: inherit;
  object-fit: cover;
  height: 240px;

  @media (min-width: 1470px) {
    height: calc(240px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(240px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(240px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(240px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(240px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(240px * var(--percentage-small-mobile));
  }
}

.textInfo {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 144px;
  margin-top: 30px;
  margin-left: 30px;

  @media (min-width: 1470px) {
    height: calc(144px * var(--percentage-fourk));
    margin-top: calc(30px * var(--percentage-fourk));
    margin-left: calc(30px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(144px * var(--percentage-laptop));
    margin-top: calc(30px * var(--percentage-laptop));
    margin-left: calc(30px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(144px * var(--percentage-tablet));
    margin-top: calc(30px * var(--percentage-tablet));
    margin-left: calc(30px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(144px * var(--percentage-large-mobile));
    margin-top: calc(30px * var(--percentage-large-mobile));
    margin-left: calc(30px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(144px * var(--percentage-medium-mobile));
    margin-top: calc(30px * var(--percentage-medium-mobile));
    margin-left: calc(30px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(144px * var(--percentage-small-mobile));
    margin-top: calc(30px * var(--percentage-small-mobile));
    margin-left: calc(30px * var(--percentage-small-mobile));
  }
}

.textInfo p {
  margin-bottom: auto;
  margin-top: 10px;

  @media (min-width: 1470px) {
    margin-top: calc(10px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-top: calc(10px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-top: calc(10px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-top: calc(10px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-top: calc(10px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-top: calc(10px * var(--percentage-small-mobile));
  }
}

.cards .container {
  padding: 0;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: inherit;
}

.services .cards .container {
  padding: 0;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: start;

  padding-left: 30px;

  @media (min-width: 1470px) {
    padding-left: calc(30px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    padding-left: calc(30px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    padding-left: calc(30px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    padding-left: calc(30px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    padding-left: calc(30px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    padding-left: calc(30px * var(--percentage-small-mobile));
  }
}

.imgBck {
  position: relative;
  background-color: var(--clearerBlue);
  border-radius: 50%;
  align-items: center;

  width: 80px;
  height: 80px;

  @media (min-width: 1470px) {
    width: calc(80px * var(--percentage-fourk));
    height: calc(80px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(80px * var(--percentage-laptop));
    height: calc(80px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(80px * var(--percentage-tablet));
    height: calc(80px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(80px * var(--percentage-large-mobile));
    height: calc(80px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(80px * var(--percentage-medium-mobile));
    height: calc(80px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(80px * var(--percentage-small-mobile));
    height: calc(80px * var(--percentage-small-mobile));
  }
}

.imgBck img {
  padding: 20px;
  width: 40px;
  height: 40px;

  @media (min-width: 1470px) {
    padding: calc(20px * var(--percentage-fourk));
    width: calc(40px * var(--percentage-fourk));
    height: calc(40px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    padding: calc(20px * var(--percentage-laptop));
    width: calc(40px * var(--percentage-laptop));
    height: calc(40px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    padding: calc(20px * var(--percentage-tablet));
    width: calc(40px * var(--percentage-tablet));
    height: calc(40px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    padding: calc(20px * var(--percentage-large-mobile));
    width: calc(40px * var(--percentage-large-mobile));
    height: calc(40px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    padding: calc(20px * var(--percentage-medium-mobile));
    width: calc(40px * var(--percentage-medium-mobile));
    height: calc(40px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    padding: calc(20px * var(--percentage-small-mobile));
    width: calc(40px * var(--percentage-small-mobile));
    height: calc(40px * var(--percentage-small-mobile));
  }
}

.cards {
  background-color: white;
  box-shadow: 0 6px 20px 0 var(--lightGrey), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  width: 340px;
  height: 444px;

  @media (min-width: 1470px) {
    width: calc(340px * var(--percentage-fourk));
    height: calc(444px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(340px * var(--percentage-laptop));
    height: calc(444px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(340px * var(--percentage-tablet));
    height: calc(444px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(340px * var(--percentage-large-mobile));
    height: calc(444px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(340px * var(--percentage-medium-mobile));
    height: calc(444px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(340px * var(--percentage-small-mobile));
    height: calc(444px * var(--percentage-small-mobile));
  }
}

.services div div .cards {
  width: 340px;
  height: 380px;

  @media (min-width: 1470px) {
    width: calc(340px * var(--percentage-fourk));
    height: calc(380px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(340px * var(--percentage-laptop));
    height: calc(380px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(340px * var(--percentage-tablet));
    height: calc(380px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(340px * var(--percentage-large-mobile));
    height: calc(380px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(340px * var(--percentage-medium-mobile));
    height: calc(380px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(340px * var(--percentage-small-mobile));
    height: calc(380px * var(--percentage-small-mobile));
  }
}

.projectImg {
  width: inherit;
  object-fit: cover;

  height: 240px;

  @media (min-width: 1470px) {
    height: calc(240px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(240px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(240px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(240px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(240px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(240px * var(--percentage-small-mobile));
  }
}

.cards .container {
  padding: 0;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: inherit;
}

.services .cards .container {
  padding: 0;
  margin: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: start;

  padding-left: 30px;

  @media (min-width: 1470px) {
    padding-left: calc(30px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    padding-left: calc(30px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    padding-left: calc(30px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    padding-left: calc(30px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    padding-left: calc(30px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    padding-left: calc(30px * var(--percentage-small-mobile));
  }
}

.imgBck img {
  padding: 20px;

  @media (min-width: 1470px) {
    padding: calc(20px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    padding: calc(20px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    padding: calc(20px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    padding: calc(20px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    padding: calc(20px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    padding: calc(20px * var(--percentage-small-mobile));
  }
}
