@import url("general-styles.css");
@import url("navBar-styles.css");
@import url("footer-styles.css");

.contactForm {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;

  width: 1400px;
  height: 660px;

  @media (min-width: 1440px) {
    height: calc(660px * var(--percentage-fourk));
    width: calc(1400px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(660px * var(--percentage-laptop));
    width: calc(1400px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(660px * var(--percentage-tablet));
    width: calc(1400px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(660px * var(--percentage-large-mobile));
    width: calc(1400px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(660px * var(--percentage-medium-mobile));
    width: calc(1400px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(660px * var(--percentage-small-mobile));
    width: calc(1400px * var(--percentage-small-mobile));
  }
}

.contactForm .wraper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  width: 1100px;

  @media (min-width: 1440px) {
    width: calc(1100px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
  }
}

.contactForm .container {
  color: var(--pastelGrey);
  margin-left: auto;
  margin-right: auto;

  margin-top: 80px;

  @media (min-width: 1440px) {
    margin-top: calc(80px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-top: calc(80px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-top: calc(80px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-top: calc(80px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-top: calc(80px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-top: calc(80px * var(--percentage-small-mobile));
  }
}

.contactForm .nameContainer input {
  width: 1100px;
  height: 66px;

  @media (min-width: 1440px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(66px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(66px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(66px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    height: calc(66px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(66px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(66px * var(--percentage-small-mobile));
  }
}

label,
input {
  display: flex;
  flex-direction: column;
}

input {
  color: var(--pastelGrey);
  border: 0px;
  background-color: rgba(107, 112, 141, 10%);
  height: 66px;
  text-indent: 20px;
  margin-top: 10px;

  @media (min-width: 1440px) {
    height: calc(66px * var(--percentage-fourk));
    text-indent: calc(20px * var(--percentage-fourk));
    margin-top: calc(10px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(66px * var(--percentage-laptop));
    text-indent: calc(20px * var(--percentage-laptop));
    margin-top: calc(10px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(66px * var(--percentage-tablet));
    text-indent: calc(20px * var(--percentage-tablet));
    margin-top: calc(10px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(66px * var(--percentage-large-mobile));
    text-indent: calc(20px * var(--percentage-large-mobile));
    margin-top: calc(10px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(66px * var(--percentage-medium-mobile));
    text-indent: calc(20px * var(--percentage-medium-mobile));
    margin-top: calc(10px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(66px * var(--percentage-small-mobile));
    text-indent: calc(20px * var(--percentage-small-mobile));
    margin-top: calc(10px * var(--percentage-small-mobile));
  }
}

.contactWays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 40px;
  width: 1100px;

  @media (min-width: 1440px) {
    width: calc(1100px * var(--percentage-fourk));
    margin-top: calc(40px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    margin-top: calc(40px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    margin-top: calc(40px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    margin-top: calc(40px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    margin-top: calc(40px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    margin-top: calc(40px * var(--percentage-small-mobile));
  }
}

.contactWays input {
  display: flex;
  flex-direction: column;

  width: 530px;

  @media (min-width: 1440px) {
    width: calc(530px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(530px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(530px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(530px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(530px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(530px * var(--percentage-small-mobile));
  }
}

#messageText {
  background-color: rgba(107, 112, 141, 10%);
  border: 0px;

  width: 1100px;
  height: 200px;
  text-indent: 20px;
  line-height: 20px;
  margin-top: 10px;

  @media (min-width: 1440px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(200px * var(--percentage-fourk));
    text-indent: calc(20px * var(--percentage-fourk));
    line-height: calc(20px * var(--percentage-fourk));
    margin-top: calc(10px * var(--percentage-fourk));  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(200px * var(--percentage-laptop));
    text-indent: calc(20px * var(--percentage-laptop));
    line-height: calc(20px * var(--percentage-laptop));
    margin-top: calc(10px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(200px * var(--percentage-tablet));
    text-indent: calc(20px * var(--percentage-tablet));
    line-height: calc(20px * var(--percentage-tablet));
    margin-top: calc(10px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    height: calc(200px * var(--percentage-large-mobile));
    text-indent: calc(20px * var(--percentage-large-mobile));
    line-height: calc(20px * var(--percentage-large-mobile));
    margin-top: calc(10px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(200px * var(--percentage-medium-mobile));
    text-indent: calc(20px * var(--percentage-medium-mobile));
    line-height: calc(20px * var(--percentage-medium-mobile));
    margin-top: calc(10px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(200px * var(--percentage-small-mobile));
    text-indent: calc(20px * var(--percentage-small-mobile));
    line-height: calc(20px * var(--percentage-small-mobile));
    margin-top: calc(10px * var(--percentage-small-mobile));
  }
}

.messageBody {
  color: var(--pastelGrey);

  margin-top: 40px;

  @media (min-width: 1440px) {
    margin-top: calc(40px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-top: calc(40px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-top: calc(40px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-top: calc(40px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-top: calc(40px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-top: calc(40px * var(--percentage-small-mobile));
  }
}

textarea {
  padding-top: 20px;

  @media (min-width: 1440px) {
    padding-top: calc(20px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    padding-top: calc(20px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    wipadding-topdth: calc(20px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    wipadding-topdth: calc(20px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    padding-top: calc(20px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    padding-top: calc(20px * var(--percentage-small-mobile));
  }
}

.contactForm .button {
  color: white;

  width: 1100px;
  margin-top: 40px;

  @media (min-width: 1440px) {
    width: calc(1100px * var(--percentage-fourk));
    margin-top: calc(40px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    margin-top: calc(40px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    margin-top: calc(40px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    margin-top: calc(40px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    margin-top: calc(40px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    margin-top: calc(40px * var(--percentage-small-mobile));
  }
}
