.footer .wraper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  width: 1100px;
  height: 112px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(112px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(112px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(112px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    height: calc(112px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(112px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(112px * var(--percentage-small-mobile));
  }
}

.footer .footerLinks {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 435px;

  @media (max-width: 1020px) {
    width: calc(435px * var(--percentage-laptop));
  }

  @media (min-width: 1470px) {
    width: calc(435px * var(--percentage-fourk));
  }

  @media (max-width: 768px) {
    width: calc(435px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(435px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(435px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(435px * var(--percentage-small-mobile));
  }
}

.footer .footerLinks .container {
  justify-content: space-between;
  align-content: start;
  display: flex;
  flex-direction: column;
}

.footerHref {
  margin-right: 106px;

  @media (min-width: 1470px) {
    margin-right: calc(106px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-right: calc(106px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-right: calc(106px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-right: calc(106px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-right: calc(106px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-right: calc(106px * var(--percentage-small-mobile));
  }
}

.footer ul li a {
  text-align: start;
}

.footer .container ul li {
  display: inline;
}

.footer ul li a {
  text-decoration: none;
  color: var(--pastelGrey);
}

.footer {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;

  width: 1440px;
  height: 242px;
  margin-top: 170px;

  @media (min-width: 1470px) {
    width: calc(1440px * var(--percentage-fourk));
    height: calc(242px * var(--percentage-fourk));
    margin-top: calc(170px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1440px * var(--percentage-laptop));
    height: calc(242px * var(--percentage-laptop));
    margin-top: calc(170px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1440px * var(--percentage-tablet));
    height: calc(242px * var(--percentage-tablet));
    margin-top: calc(170px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1440px * var(--percentage-large-mobile));
    height: calc(242px * var(--percentage-large-mobile));
    margin-top: calc(170px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1440px * var(--percentage-medium-mobile));
    height: calc(242px * var(--percentage-medium-mobile));
    margin-top: calc(170px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1440px * var(--percentage-small-mobile));
    height: calc(242px * var(--percentage-small-mobile));
    margin-top: calc(170px * var(--percentage-small-mobile));
  }
}

.companyInfo {
  width: 260px;
  height: 112px;

  @media (min-width: 1470px) {
    width: calc(260px * var(--percentage-fourk));
    height: calc(112px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(260px * var(--percentage-laptop));
    height: calc(112px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(260px * var(--percentage-tablet));
    height: calc(112px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(260px * var(--percentage-large-mobile));
    height: calc(112px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(260px * var(--percentage-medium-mobile));
    height: calc(112px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(260px * var(--percentage-small-mobile));
    height: calc(112px * var(--percentage-small-mobile));
  }
}

.companyInfo img {
  width: 98px;
  height: 30px;

  @media (min-width: 1470px) {
    width: calc(98px * var(--percentage-fourk));
    height: calc(30px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(98px * var(--percentage-laptop));
    height: calc(30px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(98px * var(--percentage-tablet));
    height: calc(30px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(98px * var(--percentage-large-mobile));
    height: calc(30px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(98px * var(--percentage-medium-mobile));
    height: calc(30px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(98px * var(--percentage-small-mobile));
    height: calc(30px * var(--percentage-small-mobile));
  }
}

.companyInfo .textContent {
  color: var(--pastelGrey);
  width: inherit;

  margin-top: 30px;
  height: 52px;

  @media (min-width: 1470px) {
    margin-top: calc(98px * var(--percentage-fourk));
    height: calc(52px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-top: calc(98px * var(--percentage-laptop));
    height: calc(52px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-top: calc(98px * var(--percentage-tablet));
    height: calc(52px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-top: calc(98px * var(--percentage-large-mobile));
    height: calc(52px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-top: calc(98px * var(--percentage-medium-mobile));
    height: calc(52px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-top: calc(98px * var(--percentage-small-mobile));
    height: calc(52px * var(--percentage-small-mobile));
  }
}
