:root {
  --width-big-desktop: 1920px;
  --width-desktop: 1440px;
  --width-laptop: 1020px;
  --width-tablet: 768px;
  --width-large-phone: 576px;
  --width-medium-phone: 370px;
  --width-small-phone: 320px;

  --percentage-fourk: 1.28;
  --percentage-tablet: 0.53;
  --percentage-laptop: 0.7;
  --percentage-large-mobile: 0.4;
  --percentage-medium-mobile: 0.26;
  --percentage-small-mobile: 0.23;
}

* {
  --darkBlue: #072acb;
  --pastelBlue: #43d2ff;
  --indigo: #a2d6f9;
  --softBlue: #d1edff;
  --darkGrey: #292e47;
  --pastelGrey: #6b708d;
  --lightGrey: #f2f4fc;
  --clearerBlue: #ecf7ff;
  --yellow: #ffc600;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  align-content: center;
}

body {
  width: var(--width-desktop); /* Adjust width for tablets */

  @media (min-width: 1470px) {
    width: 1920px; /* Adjust width for tablets */
  }

  @media (max-width: 1044px) {
    width: var(--width-laptop); /* Adjust width for tablets */
  }

  @media (max-width: 788px) {
    width: var(--width-tablet); /* Adjust width for tablets */
  }

  @media (max-width: 596px) {
    width: var(--width-large-phone); /* Adjust width for tablets */
  }

  @media (max-width: 390px) {
    width: var(--width-medium-phone); /* Adjust width for tablets */
  }

  @media (max-width: 340px) {
    width: var(--width-small-phone); /* Adjust width for tablets */
  }

  height: fit-content;
  background-color: var(--lightGrey);
}

h1 {
  font-size: 60px;

  @media (max-width: 1020px) {
    font-size: calc(60px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(60px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(60px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(60px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(60px * var(--percentage-small-mobile));
  }

  font-weight: bold;
}

h2 {
  font-size: 50px;

  @media (max-width: 1020px) {
    font-size: calc(50px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(50px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(50px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(50px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(50px * var(--percentage-small-mobile));
  }
  font-weight: bold;
}

h3 {
  font-size: 40px;

  @media (max-width: 1020px) {
    font-size: calc(40px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(40px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(40px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(40px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(40px * var(--percentage-small-mobile));
  }
  font-weight: bold;

  h4 {
    font-size: 24px;
  }

  @media (max-width: 1020px) {
    font-size: calc(24px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(24px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(24px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(24px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(24px * var(--percentage-small-mobile));
  }
  font-weight: bold;
}

.bodyMedium {
  font-size: 24px;

  @media (max-width: 1020px) {
    font-size: calc(24px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(24px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(24px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(24px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(24px * var(--percentage-small-mobile));
  }
  font-weight: medium;
}

.bodyRegular {
  font-size: 20px;

  @media (max-width: 1020px) {
    font-size: calc(20px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(20px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(20px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(20px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(20px * var(--percentage-small-mobile));
  }
  font-weight: normal;
}

.headlineMedium {
  font-size: 17px;

  @media (max-width: 1020px) {
    font-size: calc(17px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(17px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(17px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(17px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(17px * var(--percentage-small-mobile));
  }
  font-weight: bold;
}

.headlineRegular {
  font-size: 17px;

  @media (max-width: 1020px) {
    font-size: calc(17px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(17px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(17px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(17px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(17px * var(--percentage-small-mobile));
  }
  font-weight: normal;
}

.captionOne {
  font-size: 15px;

  @media (max-width: 1020px) {
    font-size: calc(15px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(15px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(15px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(15px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(15px * var(--percentage-small-mobile));
  }
  font-weight: normal;
}

.captionTwo {
  font-size: 13px;

  @media (max-width: 1020px) {
    font-size: calc(13px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    font-size: calc(13px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    font-size: calc(13px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    font-size: calc(13px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    font-size: calc(13px * var(--percentage-small-mobile));
  }
  font-weight: normal;
}

.button {
  background-color: var(--darkBlue);
  border: none;
  color: white;
  text-decoration: none;

  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;

  width: 150px;
  height: 52px;

  @media (max-width: 1020px) {
    width: calc(150px * var(--percentage-laptop));
    height: calc(52px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(150px * var(--percentage-tablet));
    height: calc(52px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(150px * var(--percentage-large-mobile));
    height: calc(52px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(150px * var(--percentage-medium-mobile));
    height: calc(52px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(150px * var(--percentage-small-mobile));
    height: calc(52px * var(--percentage-small-mobile));
  }
}

.button a {
  color: white;
  text-decoration: none;
  line-height: inherit;
}

.logo {
  width: max-content;
  height: max-content;
}
