@import url("general-styles.css");

.navBar {
  position: relative;
  width: 1440px;
  height: 122px;
  padding-top: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.navBar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 52px;
}

.hero .container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1020px;
}

.clients .container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1020px;
  }

  .clients .container img {
    filter: grayscale(1);
  }

.cardImg1 {
  width: 190px;
  height: 216px;
  position: absolute;
  left: 0px;
  top: 25px;
}

.bodyRegular {
  color: var(--pastelGrey);
}

.cardImg2 {
  width: 190px;
  height: 193px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.backImage {
  position: relative;
  background-image: url("../resources/hero-section/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 650px;
}

.linkGrey a{
    padding-left: 40px;
    text-decoration: none;
    color: var(--pastelGrey);
}

.button {
  background-color: var(--darkBlue);
  border: none;
  color: white;
  text-decoration: none;
  width: 150px;
  height: 52px;
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;
}

.textField {
  width: 550px;
  height: 422px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.heroLinks{
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.button a {
  color: white;
  text-decoration: none;
  line-height: inherit;
}

.navBar .container ul li {
  display: inline;
  padding-left: 20px;
}

.navBar .container ul li a {
  text-decoration: none;
  color: var(--pastelGrey);
}

.logo {
  width: max-content;
  height: max-content;
}

.hero {
  height: 650px;
  width: 1440px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;}

.clients {
  width: 1440px;
  height: 92px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  width: 1440px;
  height: 561px;
}

.testimonials {
  width: 1320px;
  height: 622px;
}

.services {
  width: 1440px;
  height: 561px;
}

.CTA-email {
  width: 1320px;
  height: 500px;
}

.footer {
  width: 1440px;
  height: 242px;
}

h1 {
  color: var(--darkGrey);
}
