@import url("general-styles.css");
@import url("navBar-styles.css");
@import url("CTA-email-styles.css");
@import url("footer-styles.css");
@import url("cards-style.css");

.projectInformation {
  width: 1100px;
  position: relative;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.projectInformation .container {
  display: flex;
  flex-direction: column;
  width: 1100px;
}

.projectInformation .subtitle {
  margin-top: 20px;
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.projectData {
  height: fit-content;
}

.projectData div {
  margin-top: 70px;
}

.imageCard {
  width: inherit;
  height: 444px;
}

#cardImage {
  width: 1100px;
  height: 444px;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}

#cardImageBlurr {
  width: 1100px;
  height: 444px;
  z-index: -1;
  object-fit: cover;
  position: relative;
  filter: blur(8px);
}

.projectCards .container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  margin-top: 70px;
}

.projects {
  width: 1440px;
  height: 561px;
  position: relative;
  justify-content: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
