@import url("general-styles.css");
@import url("navBar-styles.css");
@import url("CTA-email-styles.css");
@import url("footer-styles.css");
@import url("cards-style.css");

.projectInformation {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.projectInformation .wraper {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
}

.projectInformation .container {
  justify-content: space-between;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
  }
}

.projectInformation .subtitle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 1100px;
  margin-top: 20px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    margin-top: calc(20px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    margin-top: calc(20px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    margin-top: calc(20px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    margin-top: calc(20px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    margin-top: calc(20px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    margin-top: calc(20px * var(--percentage-small-mobile));
  }
}

.projectData {
  height: fit-content;
}

.projectData div {
  margin-top: 70px;
  margin-top: 20px;

  @media (min-width: 1470px) {
    margin-top: calc(70px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    margin-top: calc(70px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    margin-top: calc(70px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    margin-top: calc(70px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    margin-top: calc(70px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    margin-top: calc(70px * var(--percentage-small-mobile));
  }
}

.imageCard {
  width: inherit;

  height: 444px;

  @media (min-width: 1470px) {
    height: calc(444px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    height: calc(444px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    height: calc(444px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    height: calc(444px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    height: calc(444px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    height: calc(444px * var(--percentage-small-mobile));
  }
}

#cardImage {
  width: 1100px;
  height: 444px;
  z-index: 1;
  position: absolute;
  object-fit: cover;

  width: 1100px;
  height: 444px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(444px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(444px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(444px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    height: calc(444px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(444px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(444px * var(--percentage-small-mobile));
  }
}

#cardImageBlurr {
  z-index: -1;
  object-fit: cover;
  position: relative;
  filter: blur(8px);

  width: 1100px;
  height: 444px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(444px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(444px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(444px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    height: calc(444px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(444px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(444px * var(--percentage-small-mobile));
  }
}

.projectCards .container {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1100px;
  margin-top: 70px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    margin-top: calc(70px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    margin-top: calc(70px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    margin-top: calc(70px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    margin-top: calc(70px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    margin-top: calc(70px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    margin-top: calc(70px * var(--percentage-small-mobile));
  }
}

.projects {
  position: relative;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  width: 1100px;
  height: 561px;
  margin-top: 20px;

  @media (min-width: 1470px) {
    width: calc(1100px * var(--percentage-fourk));
    height: calc(561px * var(--percentage-fourk));
    margin-top: calc(70px * var(--percentage-fourk));
  }

  @media (max-width: 1020px) {
    width: calc(1100px * var(--percentage-laptop));
    height: calc(561px * var(--percentage-laptop));
    margin-top: calc(70px * var(--percentage-laptop));
  }

  @media (max-width: 768px) {
    width: calc(1100px * var(--percentage-tablet));
    height: calc(561px * var(--percentage-tablet));
    margin-top: calc(70px * var(--percentage-tablet));
  }

  @media (max-width: 576px) {
    width: calc(1100px * var(--percentage-large-mobile));
    width: calc(561px * var(--percentage-large-mobile));
    margin-top: calc(70px * var(--percentage-large-mobile));
  }

  @media (max-width: 370px) {
    width: calc(1100px * var(--percentage-medium-mobile));
    height: calc(561px * var(--percentage-medium-mobile));
    margin-top: calc(70px * var(--percentage-medium-mobile));
  }

  @media (max-width: 320px) {
    width: calc(1100px * var(--percentage-small-mobile));
    height: calc(561px * var(--percentage-small-mobile));
    margin-top: calc(70px * var(--percentage-small-mobile));
  }
}
